---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div
  id="main-div"
    class="p-2 flex flex-col-reverse justify-center items-center md:flex-row lg:pt-[50px]"
  >
  <img
  id="octocat"
  class="lg:w-[400px]"
  src="/myOctocat.png"
  alt="octocat image"
/>
    <div id="description-div" class="flex flex-col justify-center items-center">
     
      <h1 class="text-center font-semibold">
        Hi, I am Vladys <br />
      </h1>
      <div class="flex font-semibold mt-3 lg:font-normal">
        <p class="me-3">#Full-stack Developer</p>
        <p>#Visual Artist</p>
      </div>
      

      <a
        id="cta"
        href="mailto:vldk0022@gmail.com"
        class="mt-[35px] bg-brand-yellow hover:bg-black hover:text-brand-yellow text-black font-semibold py-3 px-6 rounded-default
        transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-black-500 ... "
      >
        Let's talk!</a
      >
    </div>
    
  </div>
  <!-- <div class="p-6 flex flex-col justify-center items-center lg:mt-[70px]">
    <div class="border rounded-lg p-2 mt-6 w-[100%] md:w-[80%] lg:w-[70%]">
      <p class="text-center">TECHNOLOGIES</p>
      <h4 class="text-center font-bold">What I used to build this site</h4>
      <div class="flex items-center justify-around mt-3 p-2">
        <img class="w-[40px] lg:w-[50px]" src="/html.svg" alt="html icon" />
        <img class="w-[40px] lg:w-[50px]" src="/css.svg" alt="css icon" />
        <img class="w-[40px] lg:w-[50px]" src="/astro.svg" alt="astro icon" />
        <img
          class="w-[40px] lg:w-[50px]"
          src="/tailwind.svg"
          alt="tailwind icon"
        />
        <img class="w-[40px] lg:w-[50px]" src="/react.svg" alt="react icon" />
        <img
          class="w-[40px] lg:w-[50px]"
          src="/type-script.svg"
          alt="type script icon"
        />
      </div>
    </div>
  </div> -->
</BaseLayout>

<style>
  #octocat {
    position: relative;
    left: -69px;
    top: 22px;
  }
  #cta {
    position: absolute;
    right: 10%;
    top: 213px;
  }
  @media (min-width: 600px) {
    #main-div{
      flex-direction: row;
      
    }
    h1{
    font-size: 45px;
   }
   p{
    font-size: 20px;
   } 
   a{
    font-size:15px;
   }
   
    #octocat {
      width: 400px;
    }
    #cta {
      position:static;
    }
    
  }
  
 
  @media (min-width:1000px){
    h1{
    font-size: 60px;
   }
   p{
    font-size: 30px;
   } 
   a{
    font-size:25px;
   }
   #octocat {
      width: 600px;
    }
  
    #cta{
      position: static;
    }
  }
</style>
