---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="p-4 flex flex-col justify-center items-center">
    <img class="rounded-full w-[176px] h-[171px] object-cover object-[50%_30%]" src="./profile.jpeg" alt="" />
    <div >
      <h1 class="text-center mt-[40px]" >Hi, I am Vladys, Full-Stack Developer</h1>
      <p class="text-center mt-4"> With a passion for building user-friendly apps. With an artistic background and an entrepreneurial spirit, I’m all about blending creativity with code!</p>
    </div>
    <button  class="mt-[40px]  bg-brand-yellow hover:bg-yellow-500 text-black font-semibold py-3 px-6 rounded-default">Contact me!</button>
  </div>
</BaseLayout>
