---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="p-4 flex flex-col justify-center items-center">
    <img src="" alt="" />
    <div >
      <h1>Hi, I am Vladys, Full-Stack Developer</h1>
      <p>Description goes here</p>
    </div>
    <button>Contact me!</button>
  </div>
</BaseLayout>
