---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex flex-col items-center ">
        <p class="p-4 text-center font-bold">In progress..</p>
        <img src="/Loading_icon.gif" alt="" />
      </div>
</BaseLayout>
