<style>
 
  .footer-main {
    display: flex;
  }
  .footer-info {
    display: flex;
  }
</style>

<footer class="p-4 w-full">
  <hr class="mb-5">
  <div class="flex items-center justify-around">
    <p>© 2025 Vladys</p>
    <div class="flex justify-around w-[200px]">
      <a href="https://www.linkedin.com/in/vladys-k00/"><img src="/linkedin.svg" alt="linkedin logo"></a>
      <a href="https://github.com/vladys00"><img src="/github.svg" alt="github logo"></a>
      <a href="https://www.instagram.com/vladys_/"><img src="/instagram.svg" alt="instagram logo"></a>

    </div>
  </div>
  <!-- <div class="flex justify-center items-center">
    <div class="flex justify-between">
      <p>Weather</p>
      <p>Location</p>
      <p>Time</p>
    </div>
  </div> -->
</footer>
