<style>
.footer-main{
    display:flex;
}
.footer-info{
    display: flex;
}
</style>


<footer>
  <div class="footer-main">
    <p>© 2025 Vladys. All rights reserved.</p>
    <div>
      <a href="">Linkedin</a>
      <a href="">GitHub</a>
      <a href="">Instagram</a>
    </div>
  </div>
  <div class="footer-info">
    <p>Weather</p>
    <p>Location</p>
    <p>Time</p>
  </div>
</footer>


