<style>
  .footer-main {
    display: flex;
  }
  .footer-info {
    display: flex;
  }
</style>

<footer class="p-4 absolute bottom-0 w-full">
  <div class="flex justify-around">
    <p>© 2025 Vladys.</p>
    <div class="flex justify-between w-[200px]">
      <a href="">Linkedin</a>
      <a href="">GitHub</a>
      <a href="">Instagram</a>
    </div>
  </div>
  <div class="flex justify-center items-center">
    <div class="flex justify-between">
      <p>Weather</p>
      <p>Location</p>
      <p>Time</p>
    </div>
  </div>
</footer>
