---
import  HamburgerIcon  from '../public/burger-menu.svg';
---
<header>
  <nav>
    <div >
       <img src="/burger-menu.svg" alt="" class="w-10 h-10"> 
    </div>
    <div>
      <a href="/projects">Projects</a>
      <a href="/contact">Contact</a>
      <a href="/misc">Misc</a>
    </div>
  </nav>
</header>
