---
import  HamburgerIcon  from '../public/burger-menu.svg';
---
<header>
  <nav class="p-4 flex justify-center items-center">
    <div class="flex justify-between w-[300px]">
      <a href="/projects">Projects</a>
      <a href="/contact">Contact</a>
      <a href="/misc">Misc</a>
    </div>
  </nav>
</header>
