---
import  HamburgerIcon  from '../public/burger-menu.svg';
---
<header>
  <nav class="p-4 h-[50px] flex justify-center items-center">
    <div class="flex justify-around w-[100%]">
      <a  href="/"><p class="font-bold">Vladys.K</p></a>
      <a href="/projects">Projects</a>
      <a href="/contact">Contact</a>
      <a href="/misc">Misc</a>
    </div>
  </nav>
</header>
